.history-container {
  max-width: 1000px;
  margin: 0 auto;
  overflow-y: auto; /* Ensure content scrolls independently */
}

.history-card {
  width: 100%;

}

.history-card .ant-card-body {
  padding: 0;
}

.account-details {
  margin-top: 16px;
}

.token-container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-top: 4px;
  word-break: break-all;
  white-space: normal;
  font-family: monospace;
} 